{% load static %}
<!DOCTYPE html>

<html>

<head>

<title>hot flavs - Administration</title>

<link rel="stylesheet" href="{% static 'index.css' %}">

</head>

<body>

<header>

<h1>hot flavs Restaurant</h1>

</header>

<nav>


<a href="{% url 'home' %}">Home</a>

<a href="{% url 'menu' %}">Menu</a>

<a href="{% url 'admin' %}">Administration</a>


<a href="{% url 'contact' %}">Contact Us</a>

</nav>

<section>

<h2>Meet Our Team</h2>

<div class="team-grid">

<div class="card"><img src="{% static 'galleryapp/my_img.jpg' %}"  alt="team member">
<p>Person 1 - Head Chef</p></div>

</div>

</section>
</body>

</html>